<div class="container">
  <h2 class="main__hero-text">Create <b>flexible</b> forms with ease</h2>
</div>

{{#code-terminal codeBlock=false fixedWidth=true}}
  <div class="c-code-terminal__shell-command">
    <span class="c-code-terminal__muted"><b>$</b></span> ember install <b>ember-legit-forms</b>
  </div>
{{/code-terminal}}

<section class="main__about">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3 class="main__about__heading">Modular layout</h3>
        <div class="main__about__content">
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <h3 class="main__about__heading">Modular layout</h3>
        <div class="main__about__content">
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <h3 class="main__about__heading">Modular layout</h3>
        <div class="main__about__content">
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
            tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
            vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
            no sea takimata sanctus est Lorem ipsum dolor sit amet.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
