<div class="container">
  <h2 class="main__hero-text">Create <b>flexible</b> forms with ease</h2>
</div>

{{#code-terminal codeBlock=false fixedWidth=true}}
  <div class="c-code-terminal__shell-command">
    <span class="c-code-terminal__muted"><b>$</b></span> ember install <b>ember-legit-forms</b>
  </div>
{{/code-terminal}}

<section class="main__about">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3 class="main__about__heading">Data Down Actions Up</h3>
        <div class="main__about__content">
          <p>
            This addon doesn't use any magic property lookup, you can easily control what gets passed where.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <h3 class="main__about__heading">Extensively customizable</h3>
        <div class="main__about__content">
          <p>
            Don't like the label element? You can provide your own. Want to hide error messages
            for just this field? You can do that too.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <h3 class="main__about__heading">Validate all the things!</h3>
        <div class="main__about__content">
          <p>
            You don't have to install any additional libraries for validations - it comes baked in. All validators are pure JavaScript functions
            , so creating new ones is a breeze.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
