{{#validator-description
  name="min"
  localesKey="tooShort"
  defaultMessage="too short"
}}
Checks if <code>value.length &gt;= min</code>.
{{/validator-description}}

<h3>Usage:</h3>
{{#code-sample lang="js"}}
name: 'min(3)'
{{/code-sample}}
