<ol class="c-docs-navigation">
  {{#link-to "docs.installing" tagName="li"}}
    <a href="#">Installing</a>
  {{/link-to}}
  {{#link-to "docs.getting-started" tagName="li"}}
    <a href="#">Getting started</a>
  {{/link-to}}
  {{#link-to "docs.components-reference" tagName="li"}}
    <a href="#">Components Reference</a>
  {{/link-to}}
  {{#link-to "docs.customizing-wrapper-markup" tagName="li"}}
    <a href="#">Customizing Wrapper Markup</a>
  {{/link-to}}
  {{#link-to "docs.validators" tagName="li"}}
    <a href="#">Validators</a>
  {{/link-to}}
  <li>
    <ul>
      {{#link-to "docs.validators.representing-validators" tagName="li"}}
        <a href="#">Representing Validators</a>
      {{/link-to}}
      {{#link-to "docs.validators.messages" tagName="li"}}
        <a href="#">Messages</a>
      {{/link-to}}
      {{#link-to "docs.validators.creating-custom-validators" tagName="li"}}
        <a href="#">Creating Custom Validators</a>
      {{/link-to}}
      {{#link-to "docs.validators.defining-inline-validators" tagName="li"}}
        <a href="#">Defining Inline Validators</a>
      {{/link-to}}
    </ul>
  </li>
  {{#link-to "docs.validators-reference" tagName="li"}}
    <a href="#">Validators Reference</a>
  {{/link-to}}
  <li>Credits</li>
</ol>
