{{#validator-description
  name="max"
  localesKey="tooLong"
  defaultMessage="too long"
}}
Checks if <code>value.length &lt;= max</code>.
{{/validator-description}}

<h3>Usage:</h3>
{{#code-sample lang="js"}}
name: 'max(3)'
{{/code-sample}}
