{{#validator-description
  name="size"
  localesKey="mustBeOfSize"
  defaultMessage="must be exactly {{size}} characters long"
}}
Checks if field value length is equal to size.
{{/validator-description}}

<h3>Usage:</h3>
{{#code-sample lang="js"}}
number: 'size(8)'
{{/code-sample}}
