.c-code-sample {
  background-color: darken($light-gray-color, 5%);
  border-radius: 5px 5px 0 0;
  padding-top: 6px;

  &__title {
    font-size: $fs-2;
    text-align: center;
    color: darken($light-gray-color, 50%);
    text-shadow: 0 2px 1px $white-color;
  }
}
