{{#validator-description
  name="required"
  localesKey="required"
  defaultMessage="can't be blank"
}}
  Checks whether given field is filled in (uses <code>Ember.isNone</code>).
{{/validator-description}}

<h3>Usage:</h3>
{{#code-sample lang="js"}}
firstname: 'required'
{{/code-sample}}
