{{#validator-description
  name="alpha"
  localesKey="mustBeAlpha"
  defaultMessage="must consist only of alphabetic characters"
}}
  Checks if field value consists only of alphabetic characters.
{{/validator-description}}

<h3>Usage:</h3>
{{#code-sample lang="js"}}
firstName: 'alpha'
{{/code-sample}}
