.nav-pills {
  > li.active > a {
    font-weight: $fw-bold;
  }
  > li > a {
    color: lighten($eden-color, 30%);

    &:hover {
      background-color: transparent;
      color: $white-color;
    }
  }
}
