<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-{{if (eq selectedGender 'mr') 'primary' 'default'}}">Mr</button>
  <button type="button" class="btn btn-{{if (eq selectedGender 'ms') 'primary' 'default'}}">Ms</button>
</div>
