// COLORS

$white-color: #ffffff;
$black-color: #000000;
$eden-color: #155759;
$light-gray-color: #f2f2f2;
$light-gray-2-color: #f5f6f6;
$red-color: #ff5b59;
$dark-gray-color: #6e6d6d;
$orange-color: #ffbd43;
$green-color: #01cb4e;
$terminal-bg-color: #002833;
$terminal-fg-color: #82948d;
$triggers-color: #4bcdd1;

// FONT SIZES

$fs-1: 12px;
$fs-2: 14px;
$fs-3: 16px;
$fs-4: 18px;
$fs-5: 20px;
$fs-6: 22px;
$fs-8: 24px;
$fs-9: 26px;

$fs-jumbo: 36px;
$fs-code: $fs-2 + 1px;

$fw-light: 100;
$fw-normal: 400;
$fw-bold: 800;
