<h1 class="docs__title">Creating Custom Validators</h1>

<p>
  To create a custom validator you have to create a new file under <code>app/validators/[validator-name]-validator.js</code>.
  Let's say we want to create an <code>foo</code> validator - we have to create <code>app/validators/foo-validator.js</code>.
</p>

{{#code-sample lang="js"}}
/* app/validators/foo-validator.js */

import Ember from 'ember';
export default Ember.Object.create({
  validate(value) {
    if (value !== 'foo') {
      return 'value must be foo!';
    }
  }
})
{{/code-sample}}

<p>
  Note that we are returning message only if validation fails - if it succeeds we return <code>undefined</code>.
  You can now use the rule in your rules hash:
</p>
{{#code-sample lang='js'}}
rules: {
  fooField: 'foo'
}
{{/code-sample}}

{{docs-subnavigation
  prevRoute="validators.computed-rules"
  nextRoute="validators.defining-inline-validators"
  version="v2-1-1"
}}
