{{#validator-description
  name="alphanumeric"
  localesKey="mustBeAlphanumeric"
  defaultMessage="must consist only of alphanumeric characters"
}}
  Checks if field value consists only of alphanumeric characters.
{{/validator-description}}

<h3>Usage:</h3>
{{#code-sample lang="js"}}
nickname: 'alphanumeric'
{{/code-sample}}
