{{#validator-description
  name="accepted"
  localesKey="mustBeAccepted"
  defaultMessage="must be accepted"
}}
  Checks if field value is equal to <code>1</code>, <code>"1"</code>, <code>true</code> or <code>"on"</code>.
{{/validator-description}}

<h3>Usage:</h3>
{{#code-sample lang="js"}}
termsOfService: 'accepted'
{{/code-sample}}
