{{#validator-description
  name="decimal"
  localesKey="mustHaveFeverDecimals"
  defaultMessage="must have less than {{allowedDecimals}} numbers after decimal point"
}}
  Checks if field value is a valid decimal number.
  <br>
  <br>
  Note: if value is not numeric at all, <code>mustBeNumeric</code> localesKey is used for error message -
  same as with <code>numeric</code> validator.
{{/validator-description}}

<h3>Usage:</h3>
{{#code-sample lang="js"}}
float: 'decimal', // value can be any valid number
price: 'decimal(2)' // value can have up to 2 numbers after decimal point
{{/code-sample}}
