{{#validator-description
  name="numeric"
  localesKey="mustBeNumeric"
  defaultMessage="must be a number"
}}
  Checks if field value consists only of numeric characters.
{{/validator-description}}

<h3>Usage:</h3>
{{#code-sample lang="js"}}
phone: 'numeric'
{{/code-sample}}
