<h1 class="docs__title">Credits</h1>

<p>This addon uses following great addons:</p>

<ul>
  <li>
    <a href="https://github.com/dockyard/ember-one-way-controls">ember-one-way-controls</a>
  </li>
  <li>
    <a href="https://github.com/jmurphyau/ember-get-helper">ember-get-helper</a>
  </li>
  <li>
    <a href="https://github.com/jmurphyau/ember-truth-helpers">ember-truth-helpers</a>
  </li>
</ul>

