{{#validator-description
  name="url"
  localesKey="mustBeValidURL"
  defaultMessage="must be a valid URL"
}}
Checks if field value is a valid URL address.
{{/validator-description}}

<h3>Usage:</h3>
{{#code-sample lang="js"}}
website: 'url'
{{/code-sample}}
