{{#validator-description
  name="email"
  localesKey="mustBeValidEmail"
  defaultMessage="must be a valid email address"
}}
  Checks if field value is an valid email address.
{{/validator-description}}

<h3>Usage:</h3>
{{#code-sample lang="js"}}
email: 'email'
{{/code-sample}}
